/*===============BUTTONS===============*/
/*Outline/box-shadow animation*/
.OutlineAnimation {
    border: 0;
    border-radius: 50px;
    
    outline: 2px solid white;
    outline-offset: -7px;

    /*box-shadow: 0 0 0 -5px white; ALTERNATIVE, instead of outline*/

    transition: 400ms;

    background-color: #d346f2;
    padding: 1em 1.5em;
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: rgb(248, 70, 204);
        
        outline-offset: 4px;
        outline-color: #333;
        
        
        /*box-shadow: 0 0 0 5px white; */
    }
}
/*=============END OF BUTTONS============*/