.grayBackground{
    height: 250px;
    width: 250px;
    background: gray;
    margin: 0px 10px 0px 10px;
}

.animations{
    display: flex;
}

/*=====================================================*/
/*                       BUTTONS                       */
/*=====================================================*/

/*Outline animation*/
.OutlineAnimation {
    border: 0;
    border-radius: 50px;
    
    outline: 2px solid white;
    outline-offset: -.5em;

    /*box-shadow: 0 0 0 -5px white; ALTERNATIVE, instead of outline*/

    transition: 400ms;

    background-color: #d346f2;
    padding: 1em 1.5em;
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: rgb(248, 70, 204);
        
        outline-offset: .5em;
        outline-color: #333;
        
        
        /*box-shadow: 0 0 0 5px white; */
    }
}

/*Boxshadow animation*/
.BoxShadowAnimation {
    border: 0;
    border-radius: 50px;

    box-shadow: 0 0 0 -5px white;

    transition: 400ms;

    background-color: #d346f2;
    padding: 1em 1.5em;
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: rgb(248, 70, 204);
        
        
        
        box-shadow: 0 0 0 5px black;
    }
}
/*=====================================================*/
/*                    END OF BUTTONS                   */
/*=====================================================*/

/*=====================================================*/
/*                SHAPES AND ANIMATIONS                */
/*=====================================================*/

/*Heart Shape*/
.hearthContainer{
    min-height: 200px;
    max-width: 200px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HeartShape {
    height: 70px;
    width: 70px;
    background-color: red;
    position: relative;
    transform: rotate(-45deg);
}

.HeartShape::before{
    content: "";
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: red;
    top: -50%;
    border-radius: 50%;
}

.HeartShape::after{
    content: "";
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: red;
    right: -50%;
    border-radius: 50%;
}

#heartBeat{
    animation: heartBeatAni 1s infinite linear;
    margin: 0px 25px 0px 25px;
}

@keyframes heartBeatAni {
    0% {
        scale: 1.1;
    }
    35%{
        scale: 1;
        animation-timing-function: step-end;
    }
    40%{
        scale: 1.15;
    }
    85% {
        scale: 1;
    }
}

/*spinner*/
@property --a {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}



/*=====================================================*/
/*             END OF SHAPES AND ANIMATIONS            */
/*=====================================================*/